.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bg1
  background-color: #FFFFFF 
.bg2
  background-color: #E7F8F8 
.bg3
  background-color: #EFFAF4 
.bg4 
  background-color: #AEE6E6 
.bg5
  background-color: #26AAB7
.bg6
  background-color: #62529B
.tarjeta--verde
  background-color: #AEE6E6 
